html{padding:0; margin:0;}
body{
	font-family: "Fontin Sans", Sans;
	background-color: #eee;
	padding:0;
	margin:0;
}


#header{
	background-color: #555;
	color: #fff;
	padding:0.2em;
	margin:0;
}

#header h1{float:left; margin:0;}
#header h1 span{font-size: 90%; color:#99f;}
#header ul{float:right;}
#header ul li{display: inline; list-style: none;}
#header ul li a{color:#fff;}
#header br {clear:both;}


#content{
	width:80em;
	margin:0 auto;
}

#content #main{
	float:left;
	width:60em;
}

/* Calendar */
#content h2.monthname{
	text-align: center;
}

#content table.month{
	border-collapse: collapse;
	background-color: #efffef;
	border: 3px solid #e0e0ff;
	padding: 1em;
	margin: 0 auto;
	}


	
#content table.month th{
	padding: 0.5em;
	background-color: #e0e0f0; 
	border: 1px solid #bbb;
}
	
#content table.month .day{
	border: thin solid #bbb;
	width: 8em;
	height: 6em;
	padding: 0;
	margin: 0;	
}

#addBox .day{
	font-size: 120%;
	width: 20em;
	height:14em;
	font-size: 1em;
	background-color: #eee;
}

.today{
	background-color: #ffd;
}

.othermonth{
	-moz-opacity: 0.4;
	background-color: #bbb;
}


#content table.month .day-header{
	height:1em;
	background-color: #f0f0ff;
	border-bottom: thin solid #eee;
	margin:0; 
	}

.date{
	color:#999; 
	font-style: italic; 
	font-size: 70%; 
	display: block;
	vertical-align: text-top;
	}

.day-body{
	height:5em;
}

ul{margin:0; padding: 0;}

#content table.month td .event{
	font-size: 0.25em;
	list-style: none; 
	-moz-border-radius: 0.5em;
	padding:0.2em;
	margin:0.2em;
	border: 1px solid;
	font-family: "Helvetica";
	}
.event .time{font-weight: bold; font-size: 70%;}	


/*Typewriter */

#content #typewriter textarea{
	width:50em;
	height:100em;
	margin:3em;
	padding:1em;
	font-size: 100%;
	font-family: Monaco, Courier;
}

/**/
#content #siderail{
	float:left;
	width:18em;
	border-left: 3px solid #999;
	border-right: 3px solid #999;
	padding:0.5em;
}


#footer {
	clear: both;
	}
/* AddBox Stuff */

#addBox_overlay {
  background-image: url('/media/images/overlay.png'); 
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 100;
  width:  100%;
  height: 100%;
}

* html #addBox_overlay {
  background-color: #000;
  background-color: transparent;
  background-image: url('/media/images/blank.gif');
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/media/images/overlay.png", sizingMethod="scale");
}

#addBox{
	top: 20%;
	left: 0px;
	position: absolute;	
	-moz-border-radius:2em;
	overflow: auto;
	width: 400px;
	height: 400px;
	z-index: 150;
	display:none;
}

