html{padding:0; margin:0;}
body{
	font-family: "Fontin Sans", Sans;
	background-color: #eee;
	padding:0;
	margin:0;
}


#header{
	background-color: #555;
	color: #fff;
	padding:0.2em;
	margin:0;
}

#header h1{float:left; margin:0; font-size: 140%;}
#header h1 a{color: #fff; text-decoration: none;}
#header h1 span{font-size: 90%; color:#99f;}
#header ul{float:right;}
#header ul li{display: inline; list-style: none;}
#header ul li a{color:#fff;}
#header br {clear:both;}

#header #auth{ font-size: 70%; font-weight: lighter; margin-right: 0.5em;}


#content{
	width:78em;
	margin:0 auto;
}

#content #main{
	float:left;
	width:60em;
}

/* Homepage */
#content #homepage div.widget{
	width:20em;
	float:left;
	border:thin solid #bbb;
	}


/* Calendar */
#content #time-nav{display: block; text-align: center; padding: 0.5em;}
#content #time-nav h2{display: inline; padding: 0 1em 0 1em;}
#content #time-nav h2 a{color: #999;text-decoration: none;}
#content #time-nav h2 a:hover{color:#000; text-decoration: underline; }

#content table.month{
	border-collapse: collapse;
	background-color: #efffef;
	border: 3px solid #e0e0ff;
	padding: 1em;
	margin: 0 auto;
	}


	
#content table.month th{
	padding: 0.5em;
	background-color: #e0e0f0; 
	border: 1px solid #bbb;
}
	
#content table.month .day{
	border: thin solid #bbb;
	width: 8em;
	height: 6em;
	padding: 0;
	margin: 0;
	overflow: hidden;

}

#addBox .day{
	font-size: 120%;
	width: 20em;
	height:14em;
	font-size: 1em;
	background-color: #eee;
	overflow: hidden;

}

.today{
	background-color: #ffd;
}

.othermonth{
	-moz-opacity: 0.4;
	background-color: #bbb;
}


#content table.month .day-header{
	height:1em;
	background-color: #f0f0ff;
	border-bottom: thin solid #eee;
	margin:0; 
	}

.date{
	color:#999; 
	font-style: italic; 
	font-size: 70%; 
	display: block;
	vertical-align: text-top;
	}

.day-body{
	height:5em;
}

ul{margin:0; padding: 0;}

#content table.month td .event{
	font-size: 0.5em;
	list-style: none; 
	-moz-border-radius: 0.5em;
	padding:0.2em;
	margin:0.2em;
	border: 1px solid;
	font-family: "Helvetica";
	}
.event .time{font-weight: bold; font-size: 70%;}	


/*Typewriter */

#content #typewriter textarea{
	width:50em;
	height:100em;
	margin:3em;
	padding:1em;
	font-size: 100%;
	font-family: Monaco, Courier;
}

/**/
#content #siderail{
	float:left;
	width:16em;
	min-height: 100em;
	border-left: 3px solid #999;
	border-right: 3px solid #999;
	padding:0em;
}

#content #siderail h2{
	font-size: 120%;
	padding: 0.2em;
	margin:0;
	background-color: #999;
	color:#fff;
	}
	
#content #siderail ul{
	padding:0.5em;
	}	

#content #siderail ul.calendars li{list-style: none;}
#content #siderail ul.calendars li a.sync{color: inherit; font-size: 80%;}

#content #siderail ul.agenda li{list-style: none; border: thin solid; margin:0.2em; -moz-border-radius:0.5em; padding:0.2em; text-align: center;}
#content #siderail ul.agenda li .date{color: inherit;}

#footer {
	clear: both;
	background-color: #bbb;
	margin-top: 3em;
	padding: 0.5em;
	border-top: 0.5em solid #ddd;
	}


