
<div id = 'month-{{ month.name }}{{ month.year }}'>
	<h2 class = 'monthname'>{{ month.name }}</h2>
	<table class = 'month'>
		<thead>
			{% for day in month.day_names %}
				<th>
					{{ day }}	
				</th>
			{% endfor %}
		</thead>		
		{% for week in month.weeks %}
			<tr id = "week-{{ week.number }}">
				{% for day in week %}
					<td id = "date-{{day.date|date:"Y-m-d"}}"
					 	class = 'day {% if day.is_today %}today{% endif %}
					 	{% if day.othermonth %}othermonth{% endif %}'>
							{% include 'fragments/calendar_day.div' %}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>	
</div>