
<div id = 'month-{{ month.name }}{{ month.year }}' class = 'month'>
	<h2>{{ month.name }}</h2>
	<table>
		<thead>
			{% for day in month.day_names %}
				<th>
					{{ day }}	
				</th>
			{% endfor %}
		</thead>		
		{% for week in month.weeks %}
			<tr id = "week-{{ week.number }}">
				{% for day in week %}
					<td id = "date-{{day.date|date:"Y-m-d"}}" class = 'day {% if day.is_today %}today{% endif %}'>
						<span class = 'date'>{{ day.date|date:"d" }}</span>
						{% if day.events %}
							<ul>
							{% for event in day.events %}
								<li class = 'event'>{{ event.summary }}
									<span class = 'time'>{{ event.start|date:"h:m" }} - {{ event.end|date:"h:m" }}</span></li>
							{% endfor %}
							</ul>
						{% endif %}	
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>	
</div>