{% extends 'base.html' %}


{% block title %}{{ month.name }} Overview {% endblock %}

{% block header %} &gt; Calendar &gt; {{ month.name }} {{ month.year }}{% endblock %}

{% block content %}
	<div class = 'time-nav'>
		<a href = '{{ month.prev.get_absolute_url }}'>&lt; {{month.prev.name}}</a>
		<a href = '{{ month.next.get_absolute_url }}'>{{month.next.name}} &gt;</a>
	</div>

	{% include 'cal/templates/fragments/calendar_month.html' %}

{% endblock %}

{% block siderail %}
	<h2>Calendars</h2>
		<ul>
			{% for cal in calendars %}
			<li class = 'cal-{{event.calendar.cls}}' >
				{{ cal.name }}
				{% if cal.urls %}
					<a href = "{% url cal.views.sync cal.id %}">Sync</a>
				{% else %}
					<a href = "{% url cal.views.sync cal.id %}">Add url</a>		
				{% endif %}
			</li>
			{% endfor %}
			<li><a href = "{% url calendar-add %}">Add a Calendar</a></li>
		</ul>
			
	<h2>Agenda</h2>
	<ul>
		{% for item in agenda %}
		<li>
			{{ item }}
		</li>
		{% endfor %}
	</ul>
{% endblock %}