{% extends 'base.html' %}


{% block title %}{{ month.name }} Overview {% endblock %}

{% block header %} &gt; Calendar &gt; {{ month.name }} {{ month.year }}{% endblock %}

{% block content %}
	<div class = 'time-nav'>
		<a href = '{{ month.prev.get_absolute_url }}'>&lt; {{month.prev.name}}</a>
		<a href = '{{ month.next.get_absolute_url }}'>{{month.next.name}} &gt;</a>
	</div>

	{% include 'cal/templates/fragments/calendar_month.html' %}

{% endblock %}

{% load webdesign %}

{% block siderail %}
	<h2>Calendars</h2>
		<ul>
			{% for cal in calendars %}
			<li class = 'cal-{{event.calendar.cls}}' >
				{{ cal.id }}
				{% if cal.urls %}
					<a href = "{% url cal.views.sync %}">Sync</a>
				{% else %}
					<a href = "{% url cal.views.sync %}">Add url</a>		
				{% endif %}
			</li>
			{% endfor %}
		</ul>
			
	<h2>Agenda</h2>
	<div>
	{% lorem 3 p%}
	</div>
{% endblock %}