{% extends 'base.html' %}

{% block title %}{{ month.name }} Overview {% endblock %}

{% block header %} &gt; Calendar &gt; {{ month.name }} {{ month.year }}{% endblock %}

{% block content %}

	<a id = "add_event" href = "{% url calendar-event-add %}">+ Add an Event&hellip;</a>

	{% include 'cal/templates/fragments/calendar_month.html' %}
	
	
	<form id = "event_form" style="display:none;" method="post" action="{% url calendar-event-add %}">
		<h2>Create a new Event&hellip;</h2>
		<ul>
			<li>
				<label for = "id_summary">Title</label>
				<input type = "text" id = "id_summary" name = "summary" />
			</li>
			<li>
				<label for = "id_description">Description (optional)</label>
				<textarea type = "text" id = "id_description" name = "description" ></textarea>
			</li>
			<li><label for="id_calendar">Calendar:</label>
				<select id="id_calendar" name="calendar">
					{% for cal in calendars %}
						<option class = 'cal-{{ cal.cls }}' value = "{{cal.id}}">{{ cal.id }}</option>
					{% endfor %}
				</select>
			</li>
			<li><label for="id_start">Start</label><input class = 'datetime' type="text" id = "id_start" name = "start"></input></li>
			<li><label for="id_end">End</label><input class = 'datetime' type="text" id = "id_end" name = "end"></input></li>
			<li><input type="submit" value="save" /></li>
		</ul>		
	</form>
	
{% endblock %}

{% block siderail %}
	<h2>Calendars</h2>
		<ul class = 'calendars'>
			{% for cal in calendars %}
			<li class = 'cal-{{cal.cls}}' >
				{{ cal.id }}
				{% if cal.urls %}
					<a class = 'sync' href = "{% url cal.views.sync cal.id %}">Sync</a>
				{% else %}
					<a class = 'sync' href = "{% url cal.views.sync cal.id %}">Add url</a>		
				{% endif %}
			</li>
			{% endfor %}
			<li><a href = "{% url calendar-add %}">+ Add a Calendar</a></li>
		</ul>
			
	<h2>Agenda</h2>
	<ul class = 'agenda'>
		{% for item in agenda %}
		<li class = 'cal-{{ item.calendar.cls }} event event-{{ item.id }}' >
			<span>{{ item.summary }}</span>
		
			<span class = 'date'>{% include 'cal/templates/fragments/date-range.html' %}</span>
		</li>
		{% endfor %}
	</ul>
{% endblock %}